#app
  #user_nick #{nick}
  #log
  #toolbar
    ul#status
      li 
        a#usersLink(href="#") 0 users
      li uptime:
        span#uptime ?
      li memory:
        span#rss ? mb RSS
      li
        span#logout Logout 
    ul#user_list
    input#entry(type="text")
