!!!
html
  head
    title Link Chat
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.2.6.min.js')
    script(src='/javascripts/client.js')
  body!= body
